.cards-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex: 1;
    flex-wrap: wrap;
}

.cards-content__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 540px;
    min-height: 212px;
    padding: 35px 45px 35px 40px;
    color: $secondaru-color;
    background-color: $hero-color;
}

.cards-content__bonus {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 25px;
}

.cards-content__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.cards-content__description {
    margin: 0;
    line-height: 20px;
}

.cards-content__input {
    width: 225px;
    height: 35px;
    padding-left: 25px;

    border: none;
    border-radius: 30px;
    background: $secondaru-color;
    line-height: 16px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #c4c4c4;
    }
}

.cards-content__shop {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    gap: 25px;
}

.cards-content__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    min-height: 35px;
    padding: 0.5em;
    text-align: center;
    border: 2px solid $secondaru-color;
    border-radius: 30px;
    font-family: "Roboto";
    line-height: 16px;
}

.cards-content__image-envelope {
    display: block;
    width: 140px;
    height: 106px;
}

.cards-content__image-car {
    display: block;
    width: 188px;
    height: 100px;
}