.navbar-secondary__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  min-height: 50px;
  margin: 0;
  padding: 0;
  padding: 1em 0;

  list-style-type: none;

  gap: 10px 30px;

  &__link {
    color: $primary-txt-color;

    line-height: 16px;
  }
}

.navbar-info {
  border-bottom: 1px solid $primaru-color;
  background-color: $secondaru-color;
}

.container--logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 20px;

  gap: 30px;
}

.logo {
  &__link {
    display: flex;
    align-items: center;

    gap: 20px;
  }

  &__image {
    width: 80px;
    height: 80px;
  }

  &__title {
    letter-spacing: 0.1em;

    color: $hero-color;

    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
  }
}

.feedback {
  display: flex;
  align-items: center;

  gap: 40px;

  &__telephone {
    color: #000000;

    font-size: 16px;
    line-height: 19px;
  }

  &__button {
    width: 170px;
    min-height: 40px;

    color: #000000;
    border: 2px solid $hero-color;
    border-radius: 40px;
    background: $secondaru-color;

    line-height: 16px;
  }
}

.navbar-primary {
  background-color: $secondaru-color;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
    padding: 0;
    padding: 30px 0;

    list-style-type: none;

    gap: 10px 40px;
  }

  &__link {
    color: #000000;

    font-size: 16px;
    line-height: 19px;
  }
}
