@use "presets" as *;

.hero {

  background-color: $hero-color;
  background-image: url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 1680px) {
    background-position: 50% 50%;
  }

  @media (max-width: 1680px) {
    background-position: 80% 50%;
  }

  @media (min-width: 992px) {
    min-height: 604px;
    padding-top: 192px;
    padding-bottom: 192px;
  }

  @media (max-width: calc(992px - 0.2px)) and (min-width: 576px) {
    padding: 50px;
    min-height: auto;
  }

  @media (max-width: calc(576px - 0.2px)) {
    filter: brightness(0.9);
    padding: 10px;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 308px;
  color: $secondaru-color;
  gap: 40px;

  &__title {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  &__description {
    line-height: 20px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    min-height: 40px;
    padding: 0.5em;

    text-align: center;
    letter-spacing: 0.05em;

    border: 2px solid $secondaru-color;
    border-radius: 40px;
    background: $hero-color;

    line-height: 16px;
  }
}