@use "presets" as *;

.hero {
  min-height: 604px;
  padding: 192px 0;
  background-color: $hero-color;
  background-image: url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: contain;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 308px;
  color: $secondaru-color;
  gap: 40px;

  &__title {
    margin: 0;

    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  &__description {
    line-height: 20px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    min-height: 40px;
    padding: 0.5em;

    text-align: center;
    letter-spacing: 0.05em;

    border: 2px solid $secondaru-color;
    border-radius: 40px;
    background: $hero-color;

    line-height: 16px;
  }
}
