@use "presets" as *;

.offer {
  padding: 80px 0;

  &__title {
    margin: 0;

    color: #000000;

    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  &__content {
    margin: 38px 0 20px;
    gap: 30px;
    display: grid;

    @media (min-width: 768px) {
      grid-auto-flow: column;
      grid-auto-columns: minmax(0, 1fr);
    }

    @media (max-width: calc(768px - 0.2px)) and (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.goods {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 363px;
  padding: 25px 30px;
  text-align: center;
  background-color: $secondaru-color;
  gap: 20px;

  &__title {
    text-decoration: none;

    color: $primary-txt-color;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__picture {
    order: -1;
  }

  &__image {
    width: 125px;
    height: 166px;
  }

  &__price {
    letter-spacing: 0.05em;

    color: #000000;

    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    min-height: 35px;
    padding: 1em;

    letter-spacing: 0.05em;

    color: $secondaru-color;
    border-radius: 30px;
    background-color: $hero-color;

    line-height: 16px;
  }
}