@media (max-width: 992px) {
  .hero {
    padding: 50px;
    min-height: auto;
  }
  .container--logo {
    justify-content: center;
  }

}

@media (min-width: 768px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .hero {
    filter: brightness(0.9);
    padding: 10px;
  }
  .feedback {
    flex-wrap: wrap;
    flex-direction: column;
  }
}