@import "variables";
@import "header-navbar";
@import "hero";



@import "media";




.offer {
    &__title {
        margin: 0;
    }

    &__content {}


}

.goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 255px;
    min-height: 363px;


    &__title {}

    &__picture {
        order: -1;
        width: 125px;
        height: 166px;
    }

    &__image {}

    &__price {}

    &__action {}

    &__button {}

}