*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #efefef;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;

  color: inherit;
}

.container {
  max-width: 1150px;
  padding: 0 20px;

  margin-inline: auto;
}

.navbar-secondary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-height: 50px;
  margin: 0;
  padding: 0;
  padding: 1em 0;

  list-style-type: none;

  gap: 10px 30px;
}
.navbar-secondary__list__link {
  color: #333333;

  line-height: 16px;
}

.navbar-info {
  border-bottom: 1px solid #efefef;
  background-color: #ffffff;
}

.container--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 20px;

  gap: 30px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 20px;
}
.logo__image {
  width: 80px;
  height: 80px;
}
.logo__title {
  letter-spacing: 0.1em;

  color: #f13c6e;

  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 40px;
}
.feedback__telephone {
  color: #000000;

  font-size: 16px;
  line-height: 19px;
}
.feedback__button {
  width: 170px;
  min-height: 40px;

  color: #000000;
  border: 2px solid #f13c6e;
  border-radius: 40px;
  background: #ffffff;

  line-height: 16px;
}

.navbar-primary {
  background-color: #ffffff;
}
.navbar-primary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  padding: 30px 0;

  list-style-type: none;

  gap: 10px 40px;
}
.navbar-primary__link {
  color: #000000;

  font-size: 16px;
  line-height: 19px;
}

.hero {
  min-height: 604px;
  padding: 192px 0;

  background-color: #f13c6e;
  background-image: url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: contain;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 308px;

  color: #ffffff;

  gap: 40px;
}
.hero-content__title {
  margin: 0;

  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.hero-content__description {
  line-height: 20px;
}
.hero-content__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 170px;
  min-height: 40px;
  padding: 0.5em;

  text-align: center;
  letter-spacing: 0.05em;

  border: 2px solid #ffffff;
  border-radius: 40px;
  background: #f13c6e;

  line-height: 16px;
}

.offer {
  padding: 80px 0;
}
.offer__title {
  margin: 0;

  color: #000000;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 38px 0 20px;

  gap: 30px;
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 255px;
  min-height: 363px;
  padding: 25px 30px;

  text-align: center;

  background-color: #ffffff;

  gap: 20px;
}
.goods__title {
  text-decoration: none;

  color: #333333;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.goods__picture {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
.goods__image {
  width: 125px;
  height: 166px;
}
.goods__price {
  letter-spacing: 0.05em;

  color: #000000;

  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
}
.goods__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 130px;
  min-height: 35px;
  padding: 1em;

  letter-spacing: 0.05em;

  color: #ffffff;
  border-radius: 30px;
  background-color: #f13c6e;

  line-height: 16px;
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;

  gap: 30px;
}

.bonus {
  background-color: #f13c6e;
}

.shop {
  background-color: #f13c6e;
}

@media (max-width: 992px) {
  .hero {
    background-position: 50% 50%;
    background-size: cover;

    -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
  }
}
